## Import required packages

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
infile1 = open('../data/processed/batters/2015_to_2019_batter_ab_cleaned_grouped.pickle','rb')
batter_ab = pickle.load(infile1)
infile1.close()

In [3]:
infile2 = open('../data/processed/batters/2015_to_2019_batter_by_game_clean.pickle','rb')
batter_game = pickle.load(infile2)
infile2.close()

## In preparation for joining data, make sure indexes are the same

In [4]:
batter_ab.columns

Index(['ab', 'k', 'walk', 'single', 'double', 'triple', 'hr', 'sac',
       'line_drive', 'ground_ball', 'fly_ball', 'popup', 'rbi'],
      dtype='object')

In [5]:
batter_ab = batter_ab.reset_index()
batter_ab = batter_ab.rename(columns = {'batter': 'player_id'})
batter_ab = batter_ab.set_index(['player_id', 'game_date'])
batter_ab

                           player_name  ab  k  walk  single  double  triple  \
player_id game_date
112526    2015-04-06     Bartolo Colon   2  1     0       0       0       0
          2015-04-12     Bartolo Colon   3  2     0       1       0       0
          2015-04-17     Bartolo Colon   1  0     0       0       0       0
          2015-04-23     Bartolo Colon   1  1     0       0       0       0
          2015-04-29     Bartolo Colon   3  3     0       0       0       0
...                                ...  .. ..   ...     ...     ...     ...
676606    2019-05-12  Nick Margevicius   2  1     0       1       0       0
          2019-05-18  Nick Margevicius   1  1     0       0       0       0
          2019-06-01  Nick Margevicius   1  0     0       0       0       0
          2019-06-07  Nick Margevicius   1  0     0       0       0       0
          2019-06-16  Nick Margevicius   1  1     0       0       0       0

                      hr  sac  line_drive  ground_ball  fly_ball  popup  rbi
player_id game_date
112526    2015-04-06   0    0           1            0         0      0    0
          2015-04-12   0    0           1            0         0      0    1
          2015-04-17   0    1           0            1         1      0    1
          2015-04-23   0    1           0            1         0      0    0
          2015-04-29   0    0           0            0         0      0    0
...                   ..  ...         ...          ...       ...    ...  ...
676606    2019-05-12   0    0           1            0         0      0    0
          2019-05-18   0    0           0            0         0      0    0
          2019-06-01   0    0           0            1         0      0    0
          2019-06-07   0    0           0            1         0      0    0
          2019-06-16   0    0           0            0         0      0    0

[255105 rows x 14 columns]

In [6]:
batter_game;

In [7]:
batter_game = batter_game.set_index(['player_id', 'game_date'])
batter_game.index;

In [8]:
batters = batter_game.join(batter_ab, how = 'left', 
                 lsuffix = 'l', 
                 rsuffix = 'r')

In [9]:
# Resetting index to mitigate working with multiple index
batters = batters.reset_index()

In [10]:
batters = batters.rename(columns = {'player_namel': 'player_name'})

In [11]:
batters

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,team,...,single,double,triple,hr,sac,line_drive,ground_ball,fly_ball,popup,rbi
0,112526,2015-04-06,Bartolo Colon,7,0,2,1,3,4,nym2015,...,0,0,0,0,0,1,0,0,0,0
1,112526,2015-04-12,Bartolo Colon,7,1,3,0,4,3,nym2015,...,1,0,0,0,0,1,0,0,0,1
2,112526,2015-04-17,Bartolo Colon,2,0,1,0,2,0,nym2015,...,0,0,0,0,1,0,1,1,0,1
3,112526,2015-04-23,Bartolo Colon,8,0,1,2,3,4,nym2015,...,0,0,0,0,1,0,1,0,0,0
4,112526,2015-04-29,Bartolo Colon,14,0,3,2,8,6,nym2015,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255088,676606,2019-05-12,Nick Margevicius,8,1,2,1,3,5,sd2019,...,1,0,0,0,0,1,0,0,0,0
255089,676606,2019-05-18,Nick Margevicius,5,0,1,1,2,3,sd2019,...,0,0,0,0,0,0,0,0,0,0
255090,676606,2019-06-01,Nick Margevicius,6,0,1,0,3,3,sd2019,...,0,0,0,0,0,0,1,0,0,0
255091,676606,2019-06-07,Nick Margevicius,4,0,1,0,1,3,sd2019,...,0,0,0,0,0,0,1,0,0,0
255092,676606,2019-06-16,Nick Margevicius,3,0,1,1,1,2,sd2019,...,0,0,0,0,0,0,0,0,0,0

In [12]:
batters = batters.drop(columns = 'ab')

## Make stats cumulative summations over time

In [13]:
batters.head()

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,team,...,single,double,triple,hr,sac,line_drive,ground_ball,fly_ball,popup,rbi
0,112526,2015-04-06,Bartolo Colon,7,0,2,1,3,4,nym2015,...,0,0,0,0,0,1,0,0,0,0
1,112526,2015-04-12,Bartolo Colon,7,1,3,0,4,3,nym2015,...,1,0,0,0,0,1,0,0,0,1
2,112526,2015-04-17,Bartolo Colon,2,0,1,0,2,0,nym2015,...,0,0,0,0,1,0,1,1,0,1
3,112526,2015-04-23,Bartolo Colon,8,0,1,2,3,4,nym2015,...,0,0,0,0,1,0,1,0,0,0
4,112526,2015-04-29,Bartolo Colon,14,0,3,2,8,6,nym2015,...,0,0,0,0,0,0,0,0,0,0

In [14]:
batters.columns

Index(['player_id', 'game_date', 'player_name', 'total_pitches', 'hits', 'abs',
       'whiffs', 'swings', 'takes', 'team', 'player_namer', 'k', 'walk',
       'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 'ground_ball',
       'fly_ball', 'popup', 'rbi'],
      dtype='object')

In [15]:
# Create dictionary with key as existing column and the value as the new, cumsum column
# Will use to loop creation of new features

cs = ['total_pitches', 'hits', 'abs', 'whiffs', 'swings', 'takes', 'k', 'walk', 'single', 'double',
              'triple', 'hr', 'line_drive', 'ground_ball', 'fly_ball', 'popup', 'rbi', 'sac']

cs_dict = {}

for c in cs:
    new_col = c + '_cs'
    cs_dict.update({c: new_col})

In [16]:
for c in cs_dict:
    batters[cs_dict[c]] = batters.groupby(['player_name', batters.game_date.dt.year])[c].cumsum()

In [17]:
batters.loc[batters.player_name == 'Anthony Rendon', ['rbi', 'rbi_cs']]

        rbi  rbi_cs
134496    0       0
134497    0       0
134498    0       0
134499    0       0
134500    0       0
...     ...     ...
135141    2      89
135142    2      91
135143    0      91
135144    0      91
135145    2      93

[650 rows x 2 columns]

## Calculate standard basball performance metrics back into the dataframe
These include:
- batting average (ba)
- slugging percentage (slg)
- isolated power (iso)
- batting average on balls in play (babip)

### Create functions for calculations

In [18]:
def batting_average(hits, at_bats):
    if at_bats == 0:
        return 0
    else:
        return hits / at_bats

def slugging_percentage(single, double, triple, home_run):
    return single + (2 * double) + (3 * triple) + (4 * home_run)

def isolated_power(slg, ba):
    return slg - ba

def ba_balls_in_play(hits, home_run, at_bat, strike_out, sacrifice):
    return (hit - home_run) / (at_bat - home_run - strike_out + sacrifice)

In [19]:
batters.columns

Index(['player_id', 'game_date', 'player_name', 'total_pitches', 'hits', 'abs',
       'whiffs', 'swings', 'takes', 'team', 'player_namer', 'k', 'walk',
       'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 'ground_ball',
       'fly_ball', 'popup', 'rbi', 'total_pitches_cs', 'hits_cs', 'abs_cs',
       'whiffs_cs', 'swings_cs', 'takes_cs', 'k_cs', 'walk_cs', 'single_cs',
       'double_cs', 'triple_cs', 'hr_cs', 'line_drive_cs', 'ground_ball_cs',
       'fly_ball_cs', 'popup_cs', 'rbi_cs', 'sac_cs'],
      dtype='object')

In [20]:
batters['ba_cs'] = batters.hits_cs / batters.abs_cs

In [21]:
batters['slg_cs'] = (batters.single_cs \
                     + 2 * batters.double_cs \
                     + 3 * batters.triple_cs \
                     + 4 * batters.hr_cs)/ \
                        batters.abs_cs

In [22]:
batters['iso_cs'] = batters.slg_cs - batters.ba_cs

In [23]:
batters['babip_cs'] = (batters.hits_cs - batters.hr_cs) / \
                        (batters.abs_cs - batters.hr_cs - batters.k_cs + batters.sac_cs)

In [24]:
batters.columns

Index(['player_id', 'game_date', 'player_name', 'total_pitches', 'hits', 'abs',
       'whiffs', 'swings', 'takes', 'team', 'player_namer', 'k', 'walk',
       'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 'ground_ball',
       'fly_ball', 'popup', 'rbi', 'total_pitches_cs', 'hits_cs', 'abs_cs',
       'whiffs_cs', 'swings_cs', 'takes_cs', 'k_cs', 'walk_cs', 'single_cs',
       'double_cs', 'triple_cs', 'hr_cs', 'line_drive_cs', 'ground_ball_cs',
       'fly_ball_cs', 'popup_cs', 'rbi_cs', 'sac_cs', 'ba_cs', 'slg_cs',
       'iso_cs', 'babip_cs'],
      dtype='object')

In [25]:
kill_cols = ['total_pitches', 'hits', 'abs', 'whiffs', 'swings', 'takes', 'team', 
             'k', 'walk', 'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 
             'ground_ball', 'fly_ball', 'popup', 'rbi']

In [26]:
batters = batters.drop(columns = kill_cols)

In [27]:
cols = {}

for c in batters.columns:
    if c[-3:] == '_cs':
        new_col = c[0:-3]
        cols.update({c: new_col})
    else:
        pass

In [28]:
batters = batters.rename(columns = cols)

In [29]:
batters = batters.drop(columns = ['player_namer'])

In [30]:
# player_df = batters.loc[batters.player_name == 'Raudy Read']
# player_df

In [31]:
# player_df.iloc[[0],]

In [32]:
# player_df.iloc[[1],]

## Chop dataframe into each year

In [33]:
batters.game_date = batters.game_date.apply(lambda d: pd.to_datetime(d))

In [34]:
b_2019 = batters.loc[batters.game_date.dt.year == 2019]
b_2018 = batters.loc[batters.game_date.dt.year == 2018]
b_2017 = batters.loc[batters.game_date.dt.year == 2017]
b_2016 = batters.loc[batters.game_date.dt.year == 2016]
b_2015 = batters.loc[batters.game_date.dt.year == 2015]

In [35]:
b_year = {'y2019': ['2019-01-01', b_2019], 
          'y2018': ['2018-01-01', b_2018],
          'y2017': ['2017-01-01', b_2017], 
          'y2016': ['2016-01-01', b_2016], 
          'y2015': ['2015-01-01', b_2015]}

## Loop dummy batter values

In [36]:
# for r in player_df.iterrows():
#     if r[1][1] == player_df.game_date.min():
#         pass
#     else:
#         print('Other dates {}'.format(r[1][1]))

# for r in player_df.game_date:
#     if r == player_df.game_date.min():
#         pass
#     else:
#         print(r)

In [37]:
DF = batters.groupby(by = ['player_id', 'player_name'], axis = 0).sum()
DF = DF.reset_index()

In [38]:
dummy_df_list = []

for y in b_year.items():
    date = y[1][0]
    bats = y[1][1]
    
    dummy_df = pd.DataFrame(columns = bats.columns)
    dummy_df.player_id = DF.player_id
    dummy_df.player_name = DF.player_name
    dummy_df.game_date = date
    dummy_df.game_date = pd.to_datetime(dummy_df.game_date)
    dummy_df = dummy_df.fillna(value = 0)
    
    batters_dummy = pd.concat([bats, dummy_df], axis = 0)
    batters_dummy = batters_dummy.sort_values(by=['player_id', 'game_date'])
    batters_dummy = batters_dummy.reset_index()
    batters_dummy['shift_date'] = batters_dummy.game_date.shift(-1)

    batters_dummy = batters_dummy[['player_id', 'game_date', 'shift_date', 'player_name', 'total_pitches', 
                   'hits', 'abs', 'whiffs', 'swings', 'takes', 'k', 'walk', 'single', 
                   'double', 'triple','hr', 'line_drive', 'ground_ball', 'fly_ball', 'popup', 
                   'rbi', 'sac','ba', 'slg', 'iso', 'babip']]
    
    batters_dummy = batters_dummy.loc[batters_dummy.shift_date != date][0:-1]
    
    dummy_df_list.append(batters_dummy)

In [39]:
dummy_df_list[4].loc[dummy_df_list[4].player_name == 'Bryce Harper']

,player_id,game_date,shift_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
40030,547180,2015-01-01,2015-04-06,Bryce Harper,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
40031,547180,2015-04-06,2015-04-08,Bryce Harper,14,2,4,1,6,7,...,1,1,1,0,0,0,0.500000,1.250000,0.750000,0.500000
40032,547180,2015-04-08,2015-04-09,Bryce Harper,32,4,7,4,15,12,...,2,2,1,0,0,0,0.571429,1.000000,0.428571,0.750000
40033,547180,2015-04-09,2015-04-10,Bryce Harper,50,4,11,11,27,18,...,2,2,2,0,0,0,0.363636,0.636364,0.272727,0.600000
40034,547180,2015-04-10,2015-04-11,Bryce Harper,64,5,15,14,35,24,...,2,3,2,0,0,0,0.333333,0.533333,0.200000,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40177,547180,2015-09-27,2015-09-29,Bryce Harper,2614,169,503,306,1138,1404,...,132,148,78,22,56,4,0.335984,0.658052,0.322068,0.377581
40178,547180,2015-09-29,2015-09-30,Bryce Harper,2630,169,506,308,1144,1414,...,132,149,79,22,56,4,0.333992,0.654150,0.320158,0.375367
40179,547180,2015-09-30,2015-10-01,Bryce Harper,2644,169,510,309,1151,1421,...,132,152,79,23,56,4,0.331373,0.649020,0.317647,0.371014
40180,547180,2015-10-01,2015-10-03,Bryce Harper,2656,170,514,310,1158,1426,...,132,154,79,23,57,4,0.330739,0.645914,0.315175,0.371758
40181,547180,2015-10-03,2015-10-04,Bryce Harper,2668,171,517,313,1163,1432,...,132,155,80,23,58,4,0.330754,0.649903,0.319149,0.370690

In [40]:
bats_5yrs = pd.concat([b for b in dummy_df_list], axis = 0)

In [41]:
bats_5yrs

,player_id,game_date,shift_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
19,282332,2019-01-01,2019-04-30,CC Sabathia,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
20,282332,2019-04-30,2019-08-24,CC Sabathia,10,0,2,3,5,5,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,NaN
29,400085,2019-01-01,2019-03-20,Ichiro Suzuki,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
30,400085,2019-03-20,2019-03-21,Ichiro Suzuki,11,0,1,0,5,6,...,0,0,0,1,0,0,0.000000,0.000000,0.000000,0.000000
34,405395,2019-01-01,2019-03-28,Albert Pujols,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52765,656941,2015-09-28,2015-09-29,Kyle Schwarber,1082,52,216,166,485,591,...,33,61,38,13,28,1,0.240741,0.500000,0.259259,0.279070
52766,656941,2015-09-29,2015-09-30,Kyle Schwarber,1104,54,219,167,489,608,...,35,61,38,13,28,1,0.246575,0.502283,0.255708,0.290076
52767,656941,2015-09-30,2015-10-01,Kyle Schwarber,1119,55,223,169,496,616,...,35,63,38,14,28,1,0.246637,0.497758,0.251121,0.291045
52768,656941,2015-10-01,2015-10-02,Kyle Schwarber,1132,56,227,172,503,621,...,35,64,39,14,28,1,0.246696,0.493392,0.246696,0.294118
52769,656941,2015-10-02,2015-10-03,Kyle Schwarber,1152,57,230,176,512,631,...,35,66,39,14,28,1,0.247826,0.491304,0.243478,0.297101

In [42]:
outfile = open('../data/processed/batters/2015_to_2019_batters_date_shifted.pickle','wb')
pickle.dump(batters_dummy ,outfile)
outfile.close()

In [43]:
# dummy_df = pd.DataFrame(columns = batters.columns)
# dummy_df.player_id = df.player_id
# dummy_df.player_name = df.player_name
# dummy_df.game_date = '2019-01-01'
# dummy_df.game_date = pd.to_datetime(dummy_df.game_date)
# dummy_df = dummy_df.fillna(value = 0)

# dummy_df

In [44]:
# batters_dummy = pd.concat([batters, dummy_df], axis = 0)
# batters_dummy = batters_dummy.sort_values(by=['player_id', 'game_date'])
# batters_dummy.loc[batters_dummy.player_name == 'Bryce Harper']

In [45]:
## batters_dummy.shift(periods=1, fill_value=0).loc[batters_dummy.player_name == "Bryce Harper"]

## batters_dummy.loc[batters_dummy.game_date != '2019-01-01']
# batters_dummy = batters_dummy.reset_index()

In [46]:
# batters_dummy['shift_date'] = batters_dummy.game_date.shift(-1)

In [47]:
# batters_dummy.columns

In [48]:
# batters_dummy = batters_dummy[['player_id', 'game_date', 'shift_date', 'player_name', 'total_pitches', 
#                    'hits', 'abs', 'whiffs', 'swings', 'takes', 'k', 'walk', 'single', 
#                    'double', 'triple','hr', 'line_drive', 'ground_ball', 'fly_ball', 'popup', 
#                    'rbi', 'sac','ba', 'slg', 'iso', 'babip']]

In [49]:
# batters_dummy;

In [50]:
# batters_dummy = batters_dummy.loc[batters_dummy.shift_date != '2019-01-01' or \
#                                  ][0:-1]

In [51]:
outfile = open('../data/processed/batters/2015_to_2019_batters_date_shifted.pickle','wb')
pickle.dump(batters_dummy ,outfile)
outfile.close()